@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
            Venkat testing Azure Devop CI/CD Test
        </a>.
    </p>
    <p>
        Learn about <a href="https://portal.azure.com/?quickstart=True">
            Click here to go to Azure Portal
        </a>.
    </p>
</div>
